
body {
  background-color: #E2D1F9; 
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: sans-serif;
}

h1 {
  color: #3b0a45; 
}

input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-right: 7px;
  
}

button {
  background-color: rgb(236, 201, 242);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #bc639b;
  cursor: pointer;
}
button:hover {
  padding: 12px 25px;
  background-color: #67284f;
  border: none;
  color: white;
}
.app-container {
  background-color: #E2D1F9; /* Figma'daki o tatlı lila rengi */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
  margin-top: 30px;
  width: 100%;
  max-width: 200px;
}

.listeleme {
  background-color: white;
  color: #3b0a45;
  margin-bottom: 9px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.silme {
  margin-top: 0;
  background-color: #ff4d4d; 
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 0;
}
.silme:hover {
  background-color: #b11515; 
  transform: scale(1.1);
}
.input-group {
  display: flex;   
  flex-direction: row; 
  align-items: center;
  gap: 10px;          
  justify-content: center; 
}